/* side nav */
nav
{
    display: grid;
    place-items:center;
    font-family: monospace;
    border-radius: 5px;
    max-width: 225px;
       overflow:auto;
       position: fixed;
       display: block;
    float: left;

    height: 100%;

   overflow-x: hidden;
}    
nav ul
{
    list-style-type: none;
    border-bottom:thin 2px rgb(0, 22, 22,0.4);
}

nav ul a
{
    display: inline;
    padding: 20px;
    color: rgb(255, 255, 255);
    transition: 0.5s ease-out;
    font-size: 20px;
    font-family: monospace;
    position: relative;
    color:#000;
    display:block;
    padding:5px;
    text-decoration: none;
}
img{
    height: 100px;
  }
  .text-red
{
  color: #0c81b3;

}
.text-red:hover
{
  color: rgb(0, 0, 0);
}
.text-red:focus
{
  color: aliceblue;
}
/* search bar */
form
{
    margin-left: 230px;
    margin-right: 230px;

    margin-top:10px ;
}
/* till this common */
.navbar
{
    margin-left: 350px;  
    max-width: 100%;


}
/* table */
table
{
    margin-left: 230px;
    max-width: 75%;
    justify-content: center;
}
#add
{
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px 100px;
}