.row
{
    margin-top: 50px;
}
.container-1
{
    background-color: #edede9;
    
}
.container
{
    padding: 10px 10px;
    border-radius: 9px;
    margin: left 15px; ;
}
.container-3
{
    border-radius: 15px;
}
