<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="od.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
     <!-- side nav -->
     <nav class="bg-white text-start  border border-0 nbar-sm nbar-lg">
        <ul class="px-5 ">
          <a href="" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs- d-none d-sm-inline">
              <img src="C:\Users\thanz\.vscode\soft\safari admin\logo.png" alt="logo"></span>
      </a>
      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu">
        <li class="nav-item ">
            <a href="C:\Users\thanz\.vscode\soft\safari admin\Dashboard\dash.html" class="nav-link align-middle px-0">
                <i class=" bi-house text-red"><span class="ms-1 d-none d-sm-inline text-red">Dashboard</span></i> 
            </a>
        </li>
        <li>
            <a href="C:\Users\thanz\.vscode\soft\safari admin\orders\od.html"  class="nav-link px-0 align-middle">
                <i class="bi bi-cart4 text-red"> <span class="ms-1 d-none d-sm-inline text-red">Order</span> </i></a>
           
        </li>
        <li>
            <a href="C:\Users\thanz\.vscode\soft\safari admin\vehicle\od.html" class="nav-link px-0 align-middle">
                <i class="bi bi-car-front text-red"> <span class="ms-1 d-none d-sm-inline text-red">Vehicle</span>
                </i></a>
        </li>
        <li>
            <a href="C:\Users\thanz\.vscode\soft\safari admin\products\od.html"  class="nav-link px-0 align-middle ">
                <i class="bi bi-box text-red"> <span class="ms-1 d-none d-sm-inline text-red">Product</span></i>
              </a>
            
        </li>
        <li>
            <a href="C:\Users\thanz\.vscode\soft\safari admin\feature ad\feature ad.html"  class="nav-link px-0 align-middle">
                <i class=" bi-grid text-red"> <span class="ms-1 d-none d-sm-inline text-red">Feature Ad</span></i> </a>
              
        </li>
        <li>
            <a href="C:\Users\thanz\.vscode\soft\safari admin\garage\gar.html" class="nav-link px-0 align-middle">
                <i class="bi bi-pencil-square text-red"> <span class="ms-1 d-none d-sm-inline text-red">Edit Garage</span></i> </a>
        </li>
    </ul>
        </ul>
    </nav>
                    <!-- search-bar -->
                    <form class="d-flex ">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info" type="submit">Search</button>
                    </form>
    
                    <!-- order nav -->
                  
                    <nav class="navbar navbar-expand navbar-light bg-faded">
                        <div class="container">
                            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                                <li class="nav-item mx-2">
                                    <a class="nav-link " href="od.html" aria-current="page">ALL Cars </a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link" href="lc.html">Luxury cars</a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link active" href="lb.html">Luxury Bikes</a>
                                </li>
                                <li class="nav-item  mx-2">
                                    <a class="nav-link" href="c.html">Cars</a>
                                </li>
                                <li class="nav-item  mx-2">
                                    <a class="nav-link" href="hyb.html">Hybrid</a>
                                </li>
                                <li class="nav-item  mx-2">
                                    <a class="nav-link" href="Ev.html">EV</a>
                                </li>
                            </ul>
                           
                        </div>
                    </nav>

                   <!-- table -->
                  
                <table class="table table-striped table-responsive">
                  <thead>
                    <tr>
                        <th>
                            Car ID
                        </th>
                        <th>
                            Car image
                        </th>
                        <th>
                            KM driven
                        </th>
                        <th>
                            Brand
                            
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                                Price
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>
                            1234
                        </td>
                        <td>
                            <img src="logo.png" alt="" srcset="">
                            </td>
                        <td>
                            75000km
                        </td>
                        <td>
                            Ford
                        </td>
                        <td>
                            Mustang
                        </td>
                        <td>10,000,000                                    
                        </td>
                    </tr>
                    
                        </tbody>
                      </table>
                      <footer>
                        <div class="d-grid gap-2">
                                <a name="add vehicle" id="adv" class="btn btn-outline-danger " href="C:\Users\thanz\.vscode\soft\safari admin\add vehicle\ad.html" role="button" style="margin-left: 230px;margin-right: 150px;"> Add a vehicle</a>
                        </div>
                    
                </footer>
                       
</body>
</html>